<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>ComponentGuide</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "styleus_prerender" %>
</head>
<body>
<!-- class __styleus is the styleus context class,
 providing a minimal css setting. -->
<section class="__styleus_wrapper">
  <header>
    <h1>Component Guide</h1>
  </header>

  <%= yield :components %>
</section>

<%= javascript_include_tag "application" %>

</body>
</html>
